In [104]:
#Load libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import Lasso, LogisticRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [87]:
#Load data
url = 'demographic_health_data.csv'
df_raw = pd.read_csv(url)
df_raw.info(max_cols=110)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Data columns (total 108 columns):
 #    Column                                                                         Non-Null Count  Dtype
---   ------                                                                         --------------  -----
 0    fips                                                                           3140 non-null   int64
 1    TOT_POP                                                                        3140 non-null   int64
 2    0-9                                                                            3140 non-null   int64
 3    0-9 y/o % of total pop                                                         3140 non-null   float64
 4    19-Oct                                                                         3140 non-null   int64
 5    10-19 y/o % of total pop                                                       3140 non-null   float64
 6    20-29                                                                          3140 non-null   int64
 7    20-29 y/o % of total pop                                                       3140 non-null   float64
 8    30-39                                                                          3140 non-null   int64
 9    30-39 y/o % of total pop                                                       3140 non-null   float64
 10   40-49                                                                          3140 non-null   int64
 11   40-49 y/o % of total pop                                                       3140 non-null   float64
 12   50-59                                                                          3140 non-null   int64
 13   50-59 y/o % of total pop                                                       3140 non-null   float64
 14   60-69                                                                          3140 non-null   int64
 15   60-69 y/o % of total pop                                                       3140 non-null   float64
 16   70-79                                                                          3140 non-null   int64
 17   70-79 y/o % of total pop                                                       3140 non-null   float64
 18   80+                                                                            3140 non-null   int64
 19   80+ y/o % of total pop                                                         3140 non-null   float64
 20   White-alone pop                                                                3140 non-null   int64
 21   % White-alone                                                                  3140 non-null   float64
 22   Black-alone pop                                                                3140 non-null   int64
 23   % Black-alone                                                                  3140 non-null   float64
 24   Native American/American Indian-alone pop                                      3140 non-null   int64
 25   % NA/AI-alone                                                                  3140 non-null   float64
 26   Asian-alone pop                                                                3140 non-null   int64
 27   % Asian-alone                                                                  3140 non-null   float64
 28   Hawaiian/Pacific Islander-alone pop                                            3140 non-null   int64
 29   % Hawaiian/PI-alone                                                            3140 non-null   float64
 30   Two or more races pop                                                          3140 non-null   int64
 31   % Two or more races                                                            3140 non-null   float64
 32   POP_ESTIMATE_2018                                                              3140 non-null   int64
 33   N_POP_CHG_2018                                                                 3140 non-null   int64
 34   GQ_ESTIMATES_2018                                                              3140 non-null   int64
 35   R_birth_2018                                                                   3140 non-null   float64
 36   R_death_2018                                                                   3140 non-null   float64
 37   R_NATURAL_INC_2018                                                             3140 non-null   float64
 38   R_INTERNATIONAL_MIG_2018                                                       3140 non-null   float64
 39   R_DOMESTIC_MIG_2018                                                            3140 non-null   float64
 40   R_NET_MIG_2018                                                                 3140 non-null   float64
 41   Less than a high school diploma 2014-18                                        3140 non-null   int64
 42   High school diploma only 2014-18                                               3140 non-null   int64
 43   Some college or associate's degree 2014-18                                     3140 non-null   int64
 44   Bachelor's degree or higher 2014-18                                            3140 non-null   int64
 45   Percent of adults with less than a high school diploma 2014-18                 3140 non-null   float64
 46   Percent of adults with a high school diploma only 2014-18                      3140 non-null   float64
 47   Percent of adults completing some college or associate's degree 2014-18        3140 non-null   float64
 48   Percent of adults with a bachelor's degree or higher 2014-18                   3140 non-null   float64
 49   POVALL_2018                                                                    3140 non-null   int64
 50   PCTPOVALL_2018                                                                 3140 non-null   float64
 51   PCTPOV017_2018                                                                 3140 non-null   float64
 52   PCTPOV517_2018                                                                 3140 non-null   float64
 53   MEDHHINC_2018                                                                  3140 non-null   int64
 54   CI90LBINC_2018                                                                 3140 non-null   int64
 55   CI90UBINC_2018                                                                 3140 non-null   int64
 56   Civilian_labor_force_2018                                                      3140 non-null   int64
 57   Employed_2018                                                                  3140 non-null   int64
 58   Unemployed_2018                                                                3140 non-null   int64
 59   Unemployment_rate_2018                                                         3140 non-null   float64
 60   Median_Household_Income_2018                                                   3140 non-null   int64
 61   Med_HH_Income_Percent_of_State_Total_2018                                      3140 non-null   float64
 62   Active Physicians per 100000 Population 2018 (AAMC)                            3140 non-null   float64
 63   Total Active Patient Care Physicians per 100000 Population 2018 (AAMC)         3140 non-null   float64
 64   Active Primary Care Physicians per 100000 Population 2018 (AAMC)               3140 non-null   float64
 65   Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC)  3140 non-null   float64
 66   Active General Surgeons per 100000 Population 2018 (AAMC)                      3140 non-null   float64
 67   Active Patient Care General Surgeons per 100000 Population 2018 (AAMC)         3140 non-null   float64
 68   Total nurse practitioners (2019)                                               3140 non-null   float64
 69   Total physician assistants (2019)                                              3140 non-null   float64
 70   Total Hospitals (2019)                                                         3140 non-null   float64
 71   Internal Medicine Primary Care (2019)                                          3140 non-null   float64
 72   Family Medicine/General Practice Primary Care (2019)                           3140 non-null   float64
 73   Total Specialist Physicians (2019)                                             3140 non-null   float64
 74   ICU Beds_x                                                                     3140 non-null   int64
 75   Total Population                                                               3140 non-null   int64
 76   Population Aged 60+                                                            3140 non-null   int64
 77   Percent of Population Aged 60+                                                 3140 non-null   float64
 78   COUNTY_NAME                                                                    3140 non-null   object
 79   STATE_NAME                                                                     3140 non-null   object
 80   STATE_FIPS                                                                     3140 non-null   int64
 81   CNTY_FIPS                                                                      3140 non-null   int64
 82   county_pop2018_18 and older                                                    3140 non-null   int64
 83   anycondition_prevalence                                                        3140 non-null   float64
 84   anycondition_Lower 95% CI                                                      3140 non-null   float64
 85   anycondition_Upper 95% CI                                                      3140 non-null   float64
 86   anycondition_number                                                            3140 non-null   int64
 87   Obesity_prevalence                                                             3140 non-null   float64
 88   Obesity_Lower 95% CI                                                           3140 non-null   float64
 89   Obesity_Upper 95% CI                                                           3140 non-null   float64
 90   Obesity_number                                                                 3140 non-null   int64
 91   Heart disease_prevalence                                                       3140 non-null   float64
 92   Heart disease_Lower 95% CI                                                     3140 non-null   float64
 93   Heart disease_Upper 95% CI                                                     3140 non-null   float64
 94   Heart disease_number                                                           3140 non-null   int64
 95   COPD_prevalence                                                                3140 non-null   float64
 96   COPD_Lower 95% CI                                                              3140 non-null   float64
 97   COPD_Upper 95% CI                                                              3140 non-null   float64
 98   COPD_number                                                                    3140 non-null   int64
 99   diabetes_prevalence                                                            3140 non-null   float64
 100  diabetes_Lower 95% CI                                                          3140 non-null   float64
 101  diabetes_Upper 95% CI                                                          3140 non-null   float64
 102  diabetes_number                                                                3140 non-null   int64
 103  CKD_prevalence                                                                 3140 non-null   float64
 104  CKD_Lower 95% CI                                                               3140 non-null   float64
 105  CKD_Upper 95% CI                                                               3140 non-null   float64
 106  CKD_number                                                                     3140 non-null   int64
 107  Urban_rural_code                                                               3140 non-null   int64
dtypes: float64(61), int64(45), object(2)
memory usage: 2.6+ MB

In [88]:
df_raw.sample(10, random_state=2025)

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
120,5023,24965,2423,9.705588,2757,11.043461,2332,9.341078,2541,10.178250,...,2302,14.6,13.3,15.8,2946,3.9,3.6,4.2,790,6
686,17187,17032,2047,12.018553,2427,14.249648,2193,12.875763,1901,11.161343,...,1175,11.5,10.5,12.5,1525,3.2,3.0,3.5,430,6
3098,55105,163129,19981,12.248589,21849,13.393695,19982,12.249202,20353,12.476629,...,8680,10.4,9.5,11.2,13020,3.0,2.8,3.3,3784,4
1512,29063,12630,1193,9.445764,1189,9.414093,1835,14.528899,1942,15.376089,...,984,12.0,11.1,13.0,1258,3.1,2.9,3.3,322,4
2836,51036,6941,536,7.722230,636,9.162945,734,10.574845,670,9.652788,...,600,17.7,16.7,18.7,1043,4.3,4.1,4.6,254,2
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2
2559,48077,10456,1041,9.956006,1271,12.155700,998,9.544759,1070,10.233359,...,771,13.5,12.3,14.6,1125,3.5,3.3,3.8,294,4
2727,48413,2895,339,11.709845,490,16.925734,293,10.120898,384,13.264249,...,154,14.2,13.3,15.1,306,3.4,3.2,3.7,74,6
2311,44005,82542,7243,8.774927,9194,11.138572,10520,12.745027,9527,11.542003,...,4598,9.3,8.4,10.4,6410,2.8,2.6,3.1,1922,2
1306,26155,68192,7384,10.828250,8728,12.799155,8258,12.109925,7597,11.140603,...,5037,11.0,10.1,11.9,5936,3.1,2.9,3.4,1682,5

In [89]:
df_baking = df_raw.copy()
df_baking.columns = df_baking.columns.str.lower()
df = df_baking.copy()
df.info(max_cols=110)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Data columns (total 108 columns):
 #    Column                                                                         Non-Null Count  Dtype
---   ------                                                                         --------------  -----
 0    fips                                                                           3140 non-null   int64
 1    tot_pop                                                                        3140 non-null   int64
 2    0-9                                                                            3140 non-null   int64
 3    0-9 y/o % of total pop                                                         3140 non-null   float64
 4    19-oct                                                                         3140 non-null   int64
 5    10-19 y/o % of total pop                                                       3140 non-null   float64
 6    20-29                                                                          3140 non-null   int64
 7    20-29 y/o % of total pop                                                       3140 non-null   float64
 8    30-39                                                                          3140 non-null   int64
 9    30-39 y/o % of total pop                                                       3140 non-null   float64
 10   40-49                                                                          3140 non-null   int64
 11   40-49 y/o % of total pop                                                       3140 non-null   float64
 12   50-59                                                                          3140 non-null   int64
 13   50-59 y/o % of total pop                                                       3140 non-null   float64
 14   60-69                                                                          3140 non-null   int64
 15   60-69 y/o % of total pop                                                       3140 non-null   float64
 16   70-79                                                                          3140 non-null   int64
 17   70-79 y/o % of total pop                                                       3140 non-null   float64
 18   80+                                                                            3140 non-null   int64
 19   80+ y/o % of total pop                                                         3140 non-null   float64
 20   white-alone pop                                                                3140 non-null   int64
 21   % white-alone                                                                  3140 non-null   float64
 22   black-alone pop                                                                3140 non-null   int64
 23   % black-alone                                                                  3140 non-null   float64
 24   native american/american indian-alone pop                                      3140 non-null   int64
 25   % na/ai-alone                                                                  3140 non-null   float64
 26   asian-alone pop                                                                3140 non-null   int64
 27   % asian-alone                                                                  3140 non-null   float64
 28   hawaiian/pacific islander-alone pop                                            3140 non-null   int64
 29   % hawaiian/pi-alone                                                            3140 non-null   float64
 30   two or more races pop                                                          3140 non-null   int64
 31   % two or more races                                                            3140 non-null   float64
 32   pop_estimate_2018                                                              3140 non-null   int64
 33   n_pop_chg_2018                                                                 3140 non-null   int64
 34   gq_estimates_2018                                                              3140 non-null   int64
 35   r_birth_2018                                                                   3140 non-null   float64
 36   r_death_2018                                                                   3140 non-null   float64
 37   r_natural_inc_2018                                                             3140 non-null   float64
 38   r_international_mig_2018                                                       3140 non-null   float64
 39   r_domestic_mig_2018                                                            3140 non-null   float64
 40   r_net_mig_2018                                                                 3140 non-null   float64
 41   less than a high school diploma 2014-18                                        3140 non-null   int64
 42   high school diploma only 2014-18                                               3140 non-null   int64
 43   some college or associate's degree 2014-18                                     3140 non-null   int64
 44   bachelor's degree or higher 2014-18                                            3140 non-null   int64
 45   percent of adults with less than a high school diploma 2014-18                 3140 non-null   float64
 46   percent of adults with a high school diploma only 2014-18                      3140 non-null   float64
 47   percent of adults completing some college or associate's degree 2014-18        3140 non-null   float64
 48   percent of adults with a bachelor's degree or higher 2014-18                   3140 non-null   float64
 49   povall_2018                                                                    3140 non-null   int64
 50   pctpovall_2018                                                                 3140 non-null   float64
 51   pctpov017_2018                                                                 3140 non-null   float64
 52   pctpov517_2018                                                                 3140 non-null   float64
 53   medhhinc_2018                                                                  3140 non-null   int64
 54   ci90lbinc_2018                                                                 3140 non-null   int64
 55   ci90ubinc_2018                                                                 3140 non-null   int64
 56   civilian_labor_force_2018                                                      3140 non-null   int64
 57   employed_2018                                                                  3140 non-null   int64
 58   unemployed_2018                                                                3140 non-null   int64
 59   unemployment_rate_2018                                                         3140 non-null   float64
 60   median_household_income_2018                                                   3140 non-null   int64
 61   med_hh_income_percent_of_state_total_2018                                      3140 non-null   float64
 62   active physicians per 100000 population 2018 (aamc)                            3140 non-null   float64
 63   total active patient care physicians per 100000 population 2018 (aamc)         3140 non-null   float64
 64   active primary care physicians per 100000 population 2018 (aamc)               3140 non-null   float64
 65   active patient care primary care physicians per 100000 population 2018 (aamc)  3140 non-null   float64
 66   active general surgeons per 100000 population 2018 (aamc)                      3140 non-null   float64
 67   active patient care general surgeons per 100000 population 2018 (aamc)         3140 non-null   float64
 68   total nurse practitioners (2019)                                               3140 non-null   float64
 69   total physician assistants (2019)                                              3140 non-null   float64
 70   total hospitals (2019)                                                         3140 non-null   float64
 71   internal medicine primary care (2019)                                          3140 non-null   float64
 72   family medicine/general practice primary care (2019)                           3140 non-null   float64
 73   total specialist physicians (2019)                                             3140 non-null   float64
 74   icu beds_x                                                                     3140 non-null   int64
 75   total population                                                               3140 non-null   int64
 76   population aged 60+                                                            3140 non-null   int64
 77   percent of population aged 60+                                                 3140 non-null   float64
 78   county_name                                                                    3140 non-null   object
 79   state_name                                                                     3140 non-null   object
 80   state_fips                                                                     3140 non-null   int64
 81   cnty_fips                                                                      3140 non-null   int64
 82   county_pop2018_18 and older                                                    3140 non-null   int64
 83   anycondition_prevalence                                                        3140 non-null   float64
 84   anycondition_lower 95% ci                                                      3140 non-null   float64
 85   anycondition_upper 95% ci                                                      3140 non-null   float64
 86   anycondition_number                                                            3140 non-null   int64
 87   obesity_prevalence                                                             3140 non-null   float64
 88   obesity_lower 95% ci                                                           3140 non-null   float64
 89   obesity_upper 95% ci                                                           3140 non-null   float64
 90   obesity_number                                                                 3140 non-null   int64
 91   heart disease_prevalence                                                       3140 non-null   float64
 92   heart disease_lower 95% ci                                                     3140 non-null   float64
 93   heart disease_upper 95% ci                                                     3140 non-null   float64
 94   heart disease_number                                                           3140 non-null   int64
 95   copd_prevalence                                                                3140 non-null   float64
 96   copd_lower 95% ci                                                              3140 non-null   float64
 97   copd_upper 95% ci                                                              3140 non-null   float64
 98   copd_number                                                                    3140 non-null   int64
 99   diabetes_prevalence                                                            3140 non-null   float64
 100  diabetes_lower 95% ci                                                          3140 non-null   float64
 101  diabetes_upper 95% ci                                                          3140 non-null   float64
 102  diabetes_number                                                                3140 non-null   int64
 103  ckd_prevalence                                                                 3140 non-null   float64
 104  ckd_lower 95% ci                                                               3140 non-null   float64
 105  ckd_upper 95% ci                                                               3140 non-null   float64
 106  ckd_number                                                                     3140 non-null   int64
 107  urban_rural_code                                                               3140 non-null   int64
dtypes: float64(61), int64(45), object(2)
memory usage: 2.6+ MB

In [90]:
#EDA
df_train, df_test = train_test_split(df, test_size=0.1, random_state=2025)
df_train = df_train.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)
df_train.shape, df_test.shape

((2826, 108), (314, 108))

In [91]:
display(df_train.describe(include='number').T)
display(df_train.describe(include='object').T)

,count,mean,std,min,25%,50%,75%,max
fips,2826.0,30386.630219,15146.443690,1003.0,19001.500000,29168.000000,45080.000000,5.604500e+04
tot_pop,2826.0,106297.384996,345553.194053,88.0,10980.500000,26148.500000,69560.750000,1.010552e+07
0-9,2826.0,13021.275655,43342.182304,0.0,1281.000000,3086.000000,8350.500000,1.208253e+06
0-9 y/o % of total pop,2826.0,11.881376,2.120271,0.0,10.623856,11.805865,12.959731,2.546068e+01
19-oct,2826.0,13651.469922,43819.022626,0.0,1373.000000,3299.000000,9122.500000,1.239139e+06
...,...,...,...,...,...,...,...,...
ckd_prevalence,2826.0,3.437933,0.570028,1.9,3.100000,3.400000,3.800000,6.200000e+00
ckd_lower 95% ci,2826.0,3.199752,0.529588,1.8,2.800000,3.200000,3.500000,5.800000e+00
ckd_upper 95% ci,2826.0,3.702052,0.615501,2.0,3.300000,3.700000,4.100000,6.600000e+00
ckd_number,2826.0,2505.172328,7983.118501,3.0,315.750000,721.000000,1791.500000,2.377660e+05
urban_rural_code,2826.0,4.628096,1.508927,1.0,3.000000,5.000000,6.000000,6.000000e+00

            count unique         top freq
county_name  2826   1697  Washington   29
state_name   2826     51       Texas  222

In [100]:
#ML
X_train = df_train.drop(columns=['heart disease_number','county_name','state_name'])
y_train = df_train['heart disease_number']

X_test = df_test.drop(columns=['heart disease_number','county_name','state_name'])
y_test = df_test['heart disease_number']

In [102]:
model = LogisticRegression()

In [103]:
model.fit(X_train, y_train)
y_hat = model.predict(X_test)

/workspaces/linear_regression2/.venv/lib/python3.12/site-packages/sklearn/utils/multiclass.py:213: UserWarning: The number of unique classes is greater than 50% of the number of samples. `y` could represent a regression problem, not a classification problem.
  y_type = type_of_target(y, input_name="y")
/workspaces/linear_regression2/.venv/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [106]:
print(f'MSE: {mean_squared_error(y_test, y_hat)}')
print(f'MAE: {mean_absolute_error(y_test, y_hat)}')
print(f'RMSE: {np.sqrt(mean_squared_error(y_test, y_hat))}')
print(f'R2: {r2_score(y_test, y_hat)}')

MSE: 39032481.23248408
MAE: 1820.5
RMSE: 6247.598037044643
R2: 0.6873278151582611

In [107]:
alpha = 1.0
lasso_model = Lasso(alpha = alpha)

lasso_model.fit(X_train, y_train)

score = lasso_model.score(X_test, y_test)
print("Coefficients:", lasso_model.coef_)
print("R2 score:", score)

Coefficients: [-4.62471780e-02  2.36470465e-02 -6.04301416e-04  1.67364366e+01
 -6.37902144e-02  3.57523032e+01 -1.06629491e-02  6.10546012e+01
 -6.43695361e-03  2.44450404e+01  1.15829442e-01 -9.19587085e-01
  4.58539305e-02  2.43622829e+01 -4.74298353e-02  2.94976323e+01
  1.40287701e-01 -5.17870853e+01  1.53057887e-01 -3.59952743e+01
 -2.42266239e-02  1.72085010e+01 -2.59254594e-02  2.02009143e+01
 -1.33305238e-02  1.02763540e+01 -3.71706076e-02  5.36636194e+01
  6.03689766e-03  1.01906741e+01 -2.99352623e-02  0.00000000e+00
  6.46624165e-03  7.08606298e-02  1.51932938e-03  0.00000000e+00
  3.28401622e+00 -2.59775514e+00  1.24955196e+01 -3.31488932e+00
 -0.00000000e+00  7.86862599e-03  1.80455424e-02 -1.66117213e-02
  1.19969917e-03  6.32021297e+00 -5.22622608e+00  9.33493462e+00
 -4.47074500e+00  6.12737605e-02 -2.60991116e+01  6.68158061e+00
 -3.42248905e+00 -5.89744317e-02  2.35489117e-03 -4.33984859e-03
 -7.17853873e-03  4.46010967e-04 -2.50572027e-01  5.59723852e+01
  5.89217393e-02  4.09294592e-01  3.82096443e+00 -4.46090745e+00
 -1.28273805e-01  8.29411105e+00 -4.04144540e+01 -0.00000000e+00
 -8.41183897e-01  1.15493643e+00  9.62308842e+01 -8.59568710e+00
 -8.49087454e+00  2.22140267e+00 -2.39471221e+00  1.90713920e-03
  6.88393446e-02 -4.20662791e+00  4.62393450e+01 -2.55875684e-02
 -1.19105130e-02  5.08742892e+00 -3.29096050e+01  1.55724148e+00
  3.38158893e-02 -3.57398302e+00 -8.82851087e+00  1.94055351e+00
  1.55784108e-02  1.64748872e+02  2.23748379e+02  8.61966198e+01
 -1.97767578e+01 -0.00000000e+00 -1.00096015e+02  3.14594858e-01
  0.00000000e+00 -3.03486502e+01  0.00000000e+00  2.22480296e-03
 -0.00000000e+00 -0.00000000e+00 -1.04137445e+02 -2.93021563e-01
 -1.25146537e+01]
R2 score: 0.9985085915198769

/workspaces/linear_regression2/.venv/lib/python3.12/site-packages/sklearn/linear_model/_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.203e+08, tolerance: 7.261e+07
  model = cd_fast.enet_coordinate_descent(